
.vs/DZ_C__week_3_1490359396/v16/.suo
.vs/DZ_C__week_3_1490359396/v16/Server/sqlite3/db.lock
.vs/DZ_C__week_3_1490359396/v16/Server/sqlite3/storage.ide
.vs/DZ_C__week_3_1490359396/v16/Server/sqlite3/storage.ide-shm
.vs/DZ_C__week_3_1490359396/v16/Server/sqlite3/storage.ide-wal
LoggerLib/.vs/LoggerLib/v16/.suo
LoggerLib/.vs/LoggerLib/v16/Server/sqlite3/db.lock
LoggerLib/.vs/LoggerLib/v16/Server/sqlite3/storage.ide
LoggerLib/.vs/LoggerLib/v16/Server/sqlite3/storage.ide-shm
LoggerLib/.vs/LoggerLib/v16/Server/sqlite3/storage.ide-wal
